# Outputs/temporaries from the render process
*.html
*.docx
*.pptx

_files/
_outputs/
.Rproj.user/
/.quarto/
**/*.quarto_ipynb

# Specific files
pci_data.csv

# Exclusions
!*style_template.docx
!*poster_template.pptx
!*rhyl_example.pptx
!*sample_cardiac_indicators.xlsx

# R session files
.RData
.Rhistory
.positai
